@model List<Photo>
<div class="container my-5">

        <input id="searchPhoto" type="text" class="form-control" placeholder="Cerca foto per titolo">

</div>







@section Scripts {
    <script type="text/javascript">


        const inputEL = document.getElementById("searchPhoto").addEventListener("keyup", searchPhoto);

        function searchPhoto(searchParam) {

            inputEL.value

            axios.get('/api/Photo/SearchByTitle', {
                params: {
                    search: searchParam
                }
            }).then((res) => {

                console.log(res)

               
            })
        }

    </script>


}
