@model List<Photo>
<div class="container">

    <input id="searchPhoto" type="text" class="form-control" placeholder="Cerca foto per titolo">

    <div id="container-card" class="d-flex flex-wrap my-5 gap-3">

    </div>

</div>




@section Scripts {
    <script type="text/javascript">

        const cardEl = document.getElementById("container-card");

        const inputEL = document.getElementById("searchPhoto");
        inputEL.addEventListener("keyup", searchPhoto);

        getPhoto();

        function getPhoto() {

            axios.get('/api/Photo/GetPhotos').then((res) => {
                console.log(res)

                res.data.forEach(photo => {

                    cardEl.innerHTML +=
                       `
                    
                        <div class="card" style="width: 20rem;"">
                            <img src="${photo.imageSrc}" class="card-img-top" alt="Immagine ${photo.title}">
                            <div class="card-body">
                                <h5 class="card-title">${photo.title}</h5>
                                <p class="card-text">${photo.description}</p>
                            </div>
                        </div>
                        
                       `
                });
            })
        }


        function searchPhoto(event) {
            const searchParam = event.target.value;

            axios.get('/api/Photo/SearchByTitle', {
                params: {
                    search: searchParam
                }
            }).then((res) => {

                console.log(res);

                res.data.foreach(photo => {

                    cardEl = ""

                    cardEl.innerHTML +=
                    `
                    <div class="card" style="width: 20rem;">
                        <img width="200" src="${photo.ImageSrc}" class="card-img-top" alt="Foto">
                        <div class="card-body">
                            <h5 class="card-title text-success">${photo.title}</h5>
                            <p class="card-text">${photo.Description}</p>
                        </div>
                        </div>
                    </div>
                    `            
                })

                
            }).catch((error) => {
                console.error(error);
            });
        }


    </script>
}
