@model PhotoFormModel


<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-success py-5">Aggiungi nuova foto</h1>
        </div>
        <form asp-controller="Photo" asp-action="Create" enctype="multipart/form-data" method="post">
            @Html.AntiForgeryToken()
            <div class="mb-3">
                <strong>Titolo:</strong>
                <input type="text" class="form-control" asp-for="Photos.Title">
                <span asp-validation-for="Photos.Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <strong>Descrizione:</strong>
                <input type="text" class="form-control" asp-for="Photos.Description">
                <span asp-validation-for="Photos.Description" class="text-danger"></span>
            </div>

            
            <div class="mb-3">
                <strong>Immagine:</strong>
                <input type="text" class="form-control" asp-for="Photos.Image">
                <span asp-validation-for="Photos.Image" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ImageFormFile">Image file</label>
                <input type="file" asp-for="ImageFormFile" />
                <span asp-validation-for="ImageFormFile" class="text-error"></span>
            </div>


            <!-- SELECT MULTIPLA PER LE CATEGORIE -->
            <div class="mb-3">
                <strong>Seleziona Categoria:</strong>
                <select asp-for="SelectedCategoryId"
                        multiple="multiple"
                        size="10"
                        class="form-control mb-2 mr-sm-2 ml-sm-3 leftList"
                        asp-items="@Model.Categories">
                </select>
            </div>
            <div class="visible">
                Visibile:
                <di>
                    <input asp-for="Photos.Visible" type="radio" class="leave" name="Present3" value="true">
                    <span>Si</span>
                </di>
                <di>
                    <input asp-for="Photos.Visible" type="radio" class="leave" name="Present3" value="false">
                    <span>No</span>
                </di>
            </div>

            <button type="submit" class="btn btn-success my-5">Aggiungi</button>
        </form>
    </div>
</div>


