@model PhotoFormModel


<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-success py-5">Aggiungi nuova foto</h1>
        </div>
        <form asp-controller="Photo" asp-action="Create" method="post">
            @Html.AntiForgeryToken()
            <div class="mb-3">
                <strong>Titolo:</strong>
                <input type="text" class="form-control" asp-for="Photos.Title">
                <span asp-validation-for="Photos.Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <strong>Descrizione:</strong>
                <input type="text" class="form-control" asp-for="Photos.Description">
                <span asp-validation-for="Photos.Description" class="text-danger"></span>
            </div>

            
            <div class="mb-3">
                <strong>Immagine:</strong>
                <input type="text" class="form-control" asp-for="Photos.Image">
                <span asp-validation-for="Photos.Image" class="text-danger"></span>
            </div>

            <!-- SELECT MULTIPLA PER LE CATEGORIE -->
            <div class="mb-3">
                <strong>Seleziona Categoria:</strong>
                <select asp-for="SelectedCategoryId"
                        multiple="multiple"
                        size="10"
                        class="form-control mb-2 mr-sm-2 ml-sm-3 leftList"
                        asp-items="@Model.Categories">
                </select>
            </div>
            <div>
                Visibile:  
                <i onclick="myFunction(this)" class="fa fa-thumbs-up text-primary"></i>
            </div>

            <button type="submit" class="btn btn-success my-5">Aggiungi</button>
        </form>
    </div>
</div>


@section Scripts {
    <script>
        function myFunction(x) {
            x.classList.toggle("fa-thumbs-down");
            return false
        }
     
    </script>
}
